﻿<!-- sidebar menu: : style can be found in sidebar.less -->
@using Model.EF
@using Model.DAL
@model List<Menu>

@{
    var dao = new MenuDao();
    List<Menu> menuItem = dao.GetMenus();
    var plist = menuItem.Where(x => x.ParentID == null && x.Status).ToList();
    <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        @foreach (var pitem in plist)
        {
            <li class="treeview active">
                <a href="#">
                    <i class="@pitem.CssClass"></i>
                    <span>@Html.Label(pitem.Name)</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                @{
                    var clist = menuItem.Where(x => x.ParentID == pitem.ID && x.Status).ToList();
                    <ul class="treeview-menu">
                        @foreach (var citem in clist)
                        {
                            <li style="max-width: 180px">
                                <a href="@citem.Link">
                                    <i class="@citem.CssClass"></i>
                                    @Html.Label(citem.Name, new {@style= "white-space: normal"}) 
                                </a>
                            </li>
                        }
                    </ul>
                }
            </li>
                    }
    </ul>

}
