﻿@model Model.EF.User

<div class="user-panel">
    <div class="pull-left image">
        <img src="/Assets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
    </div>
    <div class="pull-left info">
        <p>Quản trị viên</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
    </div>
</div>
