﻿
@{
    ViewBag.Title = "CapQuyen";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}

@section header{
    <h1>Cấp quyền cho người dùng</h1>
}

<form role="form" method="POST">
    <section class="content">
        <div class="row">
            <div class="col-md-8">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Thông tin cán bộ</h3>
                        <div class="pull-right box-tools">
                            <button class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-striped table-hover">
                            <tbody>
                                <tr>
                                    <td>Chọn cơ sở <select class="form-control"></select></td>
                                    <td>Chọn phòng ban <select class="form-control"></select></td>
                                    <td>Chọn cán bộ <select class="form-control"></select></td>
                                </tr>
                                <tr>
                                    <td>STT</td>
                                    <td>Họ tên</td>
                                    <td>Ngày sinh</td>
                                    <td>Tên đăng nhập</td>
                                    <td >Thao tác</td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="form-control" readonly="readonly" /></td>
                                    <td><input type="text" class="form-control" readonly="readonly" /></td>
                                    <td><input type="text" class="form-control" readonly="readonly" /></td>
                                    <td><input type="text" class="form-control" readonly="readonly" /></td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span></button>
                                        <button type="button" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-minus"></span></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div>
            </div><!--/.col (left) -->
            <div class="col-md-4">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Chọn nhóm quyền</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-striped table-hover">
                            <tbody>
                                <tr>
                                    <td>Chọn nhóm quyền thao tác</td>
                                </tr>
                                <tr>
                                    <td><select class="form-control"></select></td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div>
            </div><!--/.col (left) -->
            <div class="col-md-12">
                <!-- Application buttons -->
                <div class="box-body" align="center">
                    <button type="submit" class="btn btn-app"><i class="fa fa-save"></i> Lưu</button>
                    <button type="reset" class="btn btn-app"><i class="fa fa-repeat"></i> Làm lại</button>
                </div><!-- /.box-body -->
            </div>
        </div>
    </section>
</form>


