﻿@using Model.EF
@using Model.DAL
@model List<Menu>
@{
    ViewBag.Title = "DinhNghiaQuyen";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}

@section header{
    <h1>Định nghĩa quyền thao tác</h1>
}

@{
    var dao = new MenuDao();
    List<Menu> menuItem = dao.GetMenus();
    var plist = menuItem.Where(x => x.ParentID == null && x.Status).ToList();
    <form role="form" method="POST">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Chọn các quyền truy cập cho từng nhóm quyền</h3>
                            <div class="pull-right box-tools">
                                <button class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-striped table-hover">
                                <tbody>
                                    <tr>
                                        <td>Chọn nhóm quyền</td>
                                        <td><select class="form-control"></select></td>
                                    </tr>
                                    <tr>
                                        @{
                                            foreach (var pitem in plist)
                                            {
                                    <th>@pitem.Name</th>
                                        }
                                        }
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox" onchange="toggle(this,1)" /> <b>Chọn tất cả</b><br />
                                            @{
                                            foreach (var pitem in plist)
                                            {
                                                var clist = menuItem.Where(x => x.ParentID == pitem.ID && pitem.ID == 1 && x.Status);
                                                foreach (var citem in clist)
                                                {
                                        <input type="checkbox" name="@citem.ParentID" />
                                        @citem.Name<br />
                                                }
                                            }
                                            }
                                        </td>
                                        <td>
                                            <input type="checkbox" onchange="toggle(this,2)" /> <b>Chọn tất cả</b><br />
                                            @{
                                            foreach (var pitem in plist)
                                            {
                                                var clist = menuItem.Where(x => x.ParentID == pitem.ID && pitem.ID == 2 && x.Status);
                                                foreach (var citem in clist)
                                                {
                                        <input type="checkbox" name="@citem.ParentID" />
                                        @citem.Name<br />
                                                }
                                            }
                                            }
                                        </td>
                                        <td>
                                            <input type="checkbox" onchange="toggle(this,3)" /> <b>Chọn tất cả</b><br />
                                            @{
                                            foreach (var pitem in plist)
                                            {
                                                var clist = menuItem.Where(x => x.ParentID == pitem.ID && pitem.ID == 3 && x.Status);
                                                foreach (var citem in clist)
                                                {
                                        <input type="checkbox" name="@citem.ParentID" />
                                        @citem.Name<br />
                                                }
                                            }
                                            }
                                        </td>
                                        <td>
                                            <input type="checkbox" onchange="toggle(this,4)" /> <b>Chọn tất cả</b><br />
                                            @{
                                            foreach (var pitem in plist)
                                            {
                                                var clist = menuItem.Where(x => x.ParentID == pitem.ID && pitem.ID == 4 && x.Status);
                                                foreach (var citem in clist)
                                                {
                                        <input type="checkbox" name="@citem.ParentID" />
                                        @citem.Name<br />
                                                }
                                            }
                                            }
                                        </td>
                                        <td>
                                            <input type="checkbox" onchange="toggle(this,5)" /> <b>Chọn tất cả</b><br />
                                            @{
                                            foreach (var pitem in plist)
                                            {
                                                var clist = menuItem.Where(x => x.ParentID == pitem.ID && pitem.ID == 5 && x.Status);
                                                foreach (var citem in clist)
                                                {
                                        <input type="checkbox" name="@citem.ParentID" />
                                        @citem.Name<br />
                                                }
                                            }
                                            }
                                        </td>
                                        <td>
                                            <input type="checkbox" onchange="toggle(this,39)" /> <b>Chọn tất cả</b><br />
                                            @{
                                            foreach (var pitem in plist)
                                            {
                                                var clist = menuItem.Where(x => x.ParentID == pitem.ID && pitem.ID == 6 && x.Status);
                                                foreach (var citem in clist)
                                                {
                                        <input type="checkbox" name="@citem.ParentID" />
                                        @citem.Name<br />
                                                }
                                            }
                                            }
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!-- /.box-body -->
                    </div>
                </div><!--/.col (left) -->
                <div class="col-md-12">
                    <!-- Application buttons -->
                    <div class="box-body" align="center">
                        <button type="submit" class="btn btn-app"><i class="fa fa-save"></i> Lưu</button>
                        <button type="reset" class="btn btn-app"><i class="fa fa-repeat"></i> Làm lại</button>
                    </div><!-- /.box-body -->
                </div>
            </div>
        </section>
    </form>
}


