﻿
@{
    ViewBag.Title = "DinhNghiaNhomQuyen";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}

@section header{
    <h1>Định nghĩa nhóm quyền</h1>
}

<form role="form" method="POST">
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Thông tin cán bộ</h3>
                        <div class="pull-right box-tools">
                            <button class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-striped table-hover">
                            <tbody>
                                <tr>
                                    <td>Tên nhóm quyền</td>
                                    <td><input type="text" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td>Nhập lại mật khẩu<font color="red">*</font></td>
                                    <td><input type="password" class="form-control"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div>
            </div><!--/.col (left) -->
            <div class="col-md-12">
                <!-- Application buttons -->
                <div class="box-body" align="center">
                    <button type="submit" class="btn btn-app"><i class="fa fa-save"></i> Lưu</button>
                    <button type="reset" class="btn btn-app"><i class="fa fa-repeat"></i> Làm lại</button>
                </div><!-- /.box-body -->
            </div>
        </div>
    </section>
</form>

