﻿
@{
    ViewBag.Title = "CoCauNgach";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}

@section header{
    <h1>Báo cáo cơ cấu ngạch</h1>
}

<form role="form" method="GET">
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Thông tin cán bộ</h3>
                        <div class="pull-right box-tools">
                            <button class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-striped table-hover">
                            <tbody>
                                <tr>
                                    <td>Chọn ngạch</td>
                                    <td>
                                        <select class="form-control">
                                            <option>Ngạch chuyên viên</option>
                                            <option>Ngạch kế toán viên</option>
                                            <option>Ngạch nghiên cứu viên</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">Hiện trạng cơ cấu ngạch trong năm:</td>
                                </tr>
                                <tr>
                                    <td>Chuyên viên cao cấp</td>
                                    <td>Chuyên viên chính</td>
                                    <td>Chuyên viên</td>
                                    <td>Tổng số</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div>
            </div><!--/.col (left) -->
            <div class="col-md-12">
                <!-- Application buttons -->
                <div class="box-body" align="center">
                    <button type="button" class="btn btn-app">
                        <i class="fa fa-print"></i> Xuất báo cáo
                    </button>
                </div><!-- /.box-body -->
            </div>
        </div>
    </section>
</form>




