﻿
@{
    ViewBag.Title = "DanhSachHoSo";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}

@section header{
    <h1>Danh sách người dùng</h1>
}

<form role="form" method="POST">
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Thông tin cán bộ</h3>
                        <div class="pull-right box-tools">
                            <button class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-striped table-hover">
                            <tbody>
                                <tr>
                                    <td>Chọn đơn vị</td>
                                    <td>
                                        <select class="form-control">
                                            <option>Lựa chọn</option>
                                            <option value="HN">Cơ sở đào tạo Hà Nội</option>
                                            <option value="VY">Cơ sở đào tạo Vĩnh Yên</option>
                                            <option value="TN">Cơ sở đào tạo Thái Nguyên</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Chọn phòng ban</td>
                                    <td><select class="form-control"></select></td>
                                </tr>
                                <tr>
                                    <td>Trạng thái</td>
                                    <td>
                                        <select class="form-control">
                                            <option>Tất cả</option>
                                            <option>Đang làm việc</option>
                                            <option>Nghỉ hưu</option>
                                            <option>Chuyển công tác</option>
                                            <option>Đã nghỉ việc</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr><td></td></tr>
                                <tr>
                                    <td>STT</td>
                                    <td>Mã cán bộ</td>
                                    <td>Họ tên</td>
                                    <td>Ngày sinh</td>
                                    <td>Email</td>
                                    <td>Tên đăng nhập</td>
                                    <td >Xem thông tin</td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="form-control" readonly="readonly" /></td>
                                    <td><input type="text" class="form-control" readonly="readonly" /></td>
                                    <td><input type="text" class="form-control" readonly="readonly" /></td>
                                    <td><input type="text" class="form-control" readonly="readonly" /></td>
                                    <td><input type="text" class="form-control" readonly="readonly" /></td>
                                    <td><input type="text" class="form-control" readonly="readonly" /></td>
                                    <td align="center">
                                        <button type="submit" class="btn btn-primary btn-sm"><span class="fa fa-user"></span></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div>
            </div><!--/.col (left) -->
        </div>
    </section>
</form>


