﻿
@{
    ViewBag.Title = "LyLichKhoaHoc";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}

@section header{
    <h1>In lý lịch khoa học</h1>
}

<form role="form" method="GET">
    <section class="content">
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    <!-- Application buttons -->
                    <div class="box-body" align="center">
                        <button type="button" class="btn btn-app">
                            <i class="fa fa-file-word-o"></i> Xuất ra file Word
                        </button>
                        <button type="button" class="btn btn-app">
                            <i class="fa fa-file-pdf-o"></i> Xuất ra file PDF
                        </button>
                        <button type="button" class="btn btn-app">
                            <i class="fa fa-print"></i>In
                        </button>
                    </div><!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>
</form>
