﻿
@{
    ViewBag.Title = "BaoCaoKhoaHoc";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}

@section header{
    <h1>Báo cáo tại hội thảo, các bài báo khoa học</h1>
}

<form role="form" method="POST">
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Thông tin báo cáo khoa học</h3>
                        <div class="pull-right box-tools">
                            <button class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered table-hover" id="tbl">
                            <tbody>
                                <tr>
                                    <th style="width: 10px">STT</th>
                                    <th>Tên báo cáo</th>
                                    <th>Tên kỷ yếu</th>
                                    <th>Tên hội nghị</th>
                                    <th>Trang đăng</th>
                                    <th>Năm</th>
                                    <th>Số tác giả</th>
                                    <th>Các tác giả</th>
                                    <th>Trong/ngoài nước</th>
                                    <th ><button type="button" class="btn btn-primary btn-sm" id="btn-add"><span class="glyphicon glyphicon-plus"></span></button></th>
                                </tr>
                                <tr>
                                    <td><label>1</label></td>
                                    <td><input type="text" class="form-control" /></td>
                                    <td><input type="text" class="form-control" /></td>
                                    <td><input type="text" class="form-control" /></td>
                                    <td><input type="number" class="form-control" /></td>
                                    <td><input type="number" class="form-control" /></td>
                                    <td><input type="number" class="form-control" /></td>
                                    <td><input type="text" class="form-control" /></td>
                                    <td>
                                        <select class="form-control">
                                            <option>Lựa chọn</option>
                                        </select>
                                    </td>
                                    <td><button type="button" class="btn btn-danger btn-sm" id="btn-remove"><span class="glyphicon glyphicon-minus"></span></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div>
            </div>
            <div class="col-md-12">
                <!-- Application buttons -->
                <div class="box-body" align="center">
                    <button type="submit" class="btn btn-app"><i class="fa fa-save"></i> Lưu</button>
                    <button type="reset" class="btn btn-app"><i class="fa fa-repeat"></i> Làm lại</button>
                </div><!-- /.box-body -->
            </div> <!-- /.row -->
        </div>
    </section>
</form>


