﻿
@{
    ViewBag.Title = "DangDoanQuanNgu";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}

@section header{
    <h1>Quá trình hoạt động Đảng - Đoàn - Công đoàn - Quân ngũ</h1>
    <label class="control-label" for="inputError">Các thông tin đánh dấu <font color="red">*</font> là các thông tin bắt buộc</label>
}

<form role="form" method="POST">
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Quá trình hoạt động Đảng</h3>
                        <div class="pull-right box-tools">
                            <button class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-striped table-hover">
                            <tbody>
                                <tr>
                                    <td>Ngày vào Đảng</td>
                                    <td><input type="datetime" class="form-control" data-provide="datepicker" data-date-format="dd/mm/yyyy" /></td>
                                </tr>
                                <tr>
                                    <td>Ngày chính thức vào Đảng</td>
                                    <td><input type="datetime" class="form-control" data-provide="datepicker" data-date-format="dd/mm/yyyy" /></td>
                                </tr>
                                <tr>
                                    <td>Nơi kết nạp</td>
                                    <td><input type="text" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td>Chức vụ Đảng hiện tại</td>
                                    <td><input type="text" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td>Nơi sinh hoạt Đảng hiện tại</td>
                                    <td><input type="text" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="center">
                                        <a class="btn btn-app" href="QuaTrinhHdDang"><i class="fa fa-plus-square"></i> Chi tiết</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div>
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Quá trình hoạt động Đoàn thể</h3>
                        <div class="pull-right box-tools">
                            <button class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-striped table-hover">
                            <tbody>
                                <tr>
                                    <td>Ngày vào Đoàn</td>
                                    <td><input type="datetime" class="form-control" data-provide="datepicker" data-date-format="dd/mm/yyyy"></td>
                                </tr>
                                <tr>
                                    <td>Nơi kết nạp</td>
                                    <td><input type="text" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td>Chức vụ Đoàn cao nhất</td>
                                    <td><input type="text" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="center">
                                        <a class="btn btn-app" href="QuaTrinhHdDoan"><i class="fa fa-plus-square"></i> Chi tiết</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div>
            </div><!--/.col (left) -->
            <!-- center column -->
            <div class="col-md-6">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Quá trình hoạt động Quân ngũ</h3>
                        <div class="pull-right box-tools">
                            <button class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-striped table-hover">
                            <tbody>
                                <tr>
                                    <td>Ngày nhập ngũ</td>
                                    <td><input type="datetime" class="form-control" data-provide="datepicker" data-date-format="dd/mm/yyyy"></td>
                                </tr>
                                <tr>
                                    <td>Ngày xuất ngũ</td>
                                    <td><input type="datetime" class="form-control" data-provide="datepicker" data-date-format="dd/mm/yyyy"></td>
                                </tr>
                                <tr>
                                    <td>Quân hàm cao nhất</td>
                                    <td>
                                        <select class="form-control">
                                            <option>Lựa chọn</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Chức vụ cao nhất trong hội CCB</td>
                                    <td><input type="text" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td>Là thương binh</td>
                                    <td><input type="checkbox" /></td>
                                </tr>
                                <tr>
                                    <td>Hạng thương binh</td>
                                    <td>
                                        <select class="form-control">
                                            <option>Lựa chọn</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Số thương tật</td>
                                    <td><input type="text" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td>Hình thức thương tật</td>
                                    <td><input type="text" class="form-control"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div>
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Quá trình hoạt động Công đoàn</h3>
                        <div class="pull-right box-tools">
                            <button class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-striped table-hover">
                            <tbody>
                                <tr>
                                    <td>Ngày vào Công đoàn</td>
                                    <td><input type="datetime" class="form-control" data-provide="datepicker" data-date-format="dd/mm/yyyy"></td>
                                </tr>
                                <tr>
                                    <td>Chức vụ Công đoàn cao nhất</td>
                                    <td><input type="text" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="center">
                                        <a class="btn btn-app" href="QuaTrinhHdCongDoan"><i class="fa fa-plus-square"></i> Chi tiết</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div>
            </div><!--/.col (center) -->
            <!-- right column-->
            <div class="col-md-12">
                <!-- Application buttons -->
                <div class="box-body" align="center">
                    <button type="submit" class="btn btn-app"><i class="fa fa-save"></i> Lưu</button>
                    <button type="reset" class="btn btn-app"><i class="fa fa-repeat"></i> Làm lại</button>
                </div><!-- /.box-body -->
            </div>
        </div>   <!-- /.row -->
    </section>
</form>