﻿
@{
    ViewBag.Title = "DiNuocNgoai";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}

@section header{
    <h1>Quá trình đi nước ngoài</h1>
    <label class="control-label" for="inputError">Các thông tin đánh dấu <font color="red">*</font> là các thông tin bắt buộc</label>
}
<form role="form" method="POST">
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-4">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Thông tin thời gian</h3>
                        <div class="pull-right box-tools">
                            <button class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-striped table-hover">
                            <tbody>
                                <tr>
                                    <td>Từ ngày</td>
                                    <td><input type="datetime" class="form-control" data-provide="datepicker" data-date-format="dd/mm/yyyy"></td>
                                </tr>
                                <tr>
                                    <td>Đến ngày</td>
                                    <td><input type="datetime" class="form-control" data-provide="datepicker" data-date-format="dd/mm/yyyy"></td>
                                </tr>
                                <tr>
                                    <td>Nơi đến</td>
                                    <td>
                                        <select class="form-control">
                                            <option>Lựa chọn</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div>
            </div><!--/.col (left) -->
            <!-- center column -->
            <div class="col-md-4">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Thông tin đối tác</h3>
                        <div class="pull-right box-tools">
                            <button class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-striped table-hover">
                            <tbody>
                                <tr>
                                    <td>Mục đích</td>
                                    <td><input type="text" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td>Tên tổ chức/cá nhân mời</td>
                                    <td><input type="text" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td>Sản phẩm</td>
                                    <td><input type="text" class="form-control" placeholder="Tên bằng cấp, chứng chỉ,  ..."></td>
                                </tr>
                                <tr>
                                    <td>Chi phí ăn ở</td>
                                    <td>
                                        <select class="form-control">
                                            <option>Lựa chọn</option>
                                            <option value="DT">Phía đối tác</option>
                                            <option value="TT">Tự túc</option>
                                            <option value="NS">Ngân sách nhà nước</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Chi phí đi lại</td>
                                    <td>
                                        <select class="form-control">
                                            <option>Lựa chọn</option>
                                            <option value="DT">Phía đối tác</option>
                                            <option value="TT">Tự túc</option>
                                            <option value="NS">Ngân sách nhà nước</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div>
            </div><!--/.col (center) -->
            <!-- right column-->
            <div class="col-md-4">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Quyết định đi nước ngoài</h3>
                        <div class="pull-right box-tools">
                            <button class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-striped table-hover">
                            <tbody>
                                <tr>
                                    <td>Số quyết định</td>
                                    <td><input type="text" class="form-control" /></td>
                                </tr>
                                <tr>
                                    <td>Ngày quyết định</td>
                                    <td><input type="datetime" class="form-control" data-provide="datepicker" data-date-format="dd/mm/yyyy" /></td>
                                </tr>
                                <tr>
                                    <td>Tóm tắt quyết định</td>
                                    <td><textarea rows="3" class="form-control"></textarea></td>
                                </tr>
                                <tr>
                                    <td>Số quyết định ra hạn</td>
                                    <td><input type="text" class="form-control" /></td>
                                </tr>
                                <tr>
                                    <td>Ngày quyết định ra hạn</td>
                                    <td><input type="datetime" class="form-control" data-provide="datepicker" data-date-format="dd/mm/yyyy" /></td>
                                </tr>
                                <tr>
                                    <td>Tóm tắt quyết định ra hạn</td>
                                    <td><textarea rows="3" class="form-control"></textarea></td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div>
            </div><!--/.col (right) -->
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Thông tin quá trình đi nước ngoài</h3>
                        <div class="pull-right box-tools">
                            <button class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered table-hover">
                            <tbody>
                                <tr>
                                    <th style="width: 10px">STT</th>
                                    <th>Từ ngày</th>
                                    <th>Đến ngày</th>
                                    <th>Nơi đến</th>
                                    <th>Mục đích</th>
                                    <th>Tên tổ chức/cá nhân</th>
                                    <th>Sản phẩm</th>
                                    <th>Số quyết định</th>
                                    <th>Số quyết định ra hạn</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td><input type="text" class="form-control" readonly/></td>
                                    <td><input type="text" class="form-control" readonly/></td>
                                    <td><input type="text" class="form-control" readonly/></td>
                                    <td><input type="text" class="form-control" readonly/></td>
                                    <td><input type="text" class="form-control" readonly/></td>
                                    <td><input type="text" class="form-control" readonly/></td>
                                    <td><input type="text" class="form-control" readonly/></td>
                                    <td><input type="text" class="form-control" readonly /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div>
            </div><!--/.col (center) -->
            <div class="col-md-12">
                <!-- Application buttons -->
                <div class="box-body" align="center">
                    <button type="submit" class="btn btn-app"><i class="fa fa-save"></i> Lưu</button>
                    <button type="reset" class="btn btn-app"><i class="fa fa-repeat"></i> Làm lại</button>
                </div><!-- /.box-body -->
            </div>
        </div>   <!-- /.row -->
    </section>
</form>