﻿
@{
    ViewBag.Title = "HdLuanVan";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}

@section header{
    <h1>Hướng dẫn luận văn/luận án</h1>
}

<form role="form" method="POST">
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Thông tin hướng dẫn luận văn/luận án</h3>
                        <div class="pull-right box-tools">
                            <button class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered table-hover" id="tbl">
                            <tbody>
                                <tr>
                                    <th style="width: 10px">STT</th>
                                    <th>Tên học viên</th>
                                    <th>Bậc học</th>
                                    <th>Chuyên ngành</th>
                                    <th>Cơ sở đào tạo</th>
                                    <th>Tên luận văn/luận án</th>
                                    <th>Năm hướng dẫn</th>
                                    <th>Vai trò</th>
                                    <th>Xếp loại</th>
                                    <th >
                                        <button type="button" class="btn btn-primary btn-sm" id="btn-add"><span class="glyphicon glyphicon-plus"></span></button>
                                    </th>
                                </tr>
                                <tr>
                                    <td><label>1</label></td>
                                    <td><input type="text" class="form-control" /></td>
                                    <td>
                                        <select class="form-control">
                                            <option>Lựa chọn</option>
                                            <option value="CD">Cao đẳng</option>
                                            <option value="DH">Đại học</option>
                                            <option value="TC">Trung cấp</option>
                                            <option value="ThS">Thạc sỹ</option>
                                            <option value="TS">Tiến sỹ</option>

                                        </select>
                                    </td>
                                    <td><input type="text" class="form-control" /></td>
                                    <td>
                                        <select class="form-control">
                                            <option>Lựa chọn</option>
                                            <option value="HN">Cơ sở đào tạo Hà Nội</option>
                                            <option value="VY">Cơ sở đào tạo Vĩnh Yên</option>
                                            <option value="TN">Cơ sở đào tạo Thái Nguyên</option>
                                        </select>
                                    </td>
                                    <td><input type="text" class="form-control" /></td>
                                    <td><input type="number" class="form-control" /></td>
                                    <td>
                                        <select class="form-control">
                                            <option value="0">Lựa chọn</option>
                                            <option value="1">Hướng dẫn chính</option>
                                            <option value="2">Hướng dẫn phụ</option>
                                        </select>
                                    </td>
                                    <td><select class="form-control"></select></td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm" id="btn-remove"><span class="glyphicon glyphicon-minus"></span></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div>
            </div>
            <div class="col-md-12">
                <!-- Application buttons -->
                <div class="box-body" align="center">
                    <button type="submit" class="btn btn-app"><i class="fa fa-save"></i> Lưu</button>
                    <button type="reset" class="btn btn-app"><i class="fa fa-repeat"></i> Làm lại</button>
                </div><!-- /.box-body -->
            </div>
        </div>   <!-- /.row -->
    </section>
</form>
