﻿
@{
    ViewBag.Title = "HopDongLaoDong";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}

@section header{
    <h1>Hợp đồng lao động</h1>
    <label class="control-label" for="inputError">Các thông tin đánh dấu <font color="red">*</font> là các thông tin bắt buộc</label>
}

<form role="form" method="POST">
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Danh sách hợp đồng lao động</h3>
                        <div class="pull-right box-tools">
                            <button class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered table-hover" id="tbl">
                            <tbody>
                                <tr>
                                    <th style="width: 10px">STT</th>
                                    <th>Số HĐ</th>
                                    <th>Loại hợp đồng</th>
                                    <th>Ngày hiệu lực</th>
                                    <th>Ngày hết hiệu lực</th>
                                    <th>Đơn vị tuyển dụng</th>
                                    <th>Công việc đảm nhận</th>
                                    <th >
                                        <button type="button" class="btn btn-primary btn-sm" id="btn-add"><span class="glyphicon glyphicon-plus"></span></button>
                                    </th>
                                </tr>
                                <tr>
                                    <td><label>1</label></td>
                                    <td><input type="text" class="form-control" /></td>
                                    <td>
                                        <select class="form-control">
                                            <option value="">Lựa chọn</option>
                                            <option value="HD1N">Hợp đồng làm việc lần đầu thời hạn 1 năm</option>
                                            <option value="HD3N1">Hợp đồng làm việc 3 năm lần 1</option>
                                            <option value="HD3N2">Hợp đồng làm việc 3 năm lần 2</option>
                                            <option value="HDK">Hợp đồng khác</option>
                                            <option value="HDKTH">Hợp đồng làm việc không thời hạn</option>
                                            <option value="HDLD">Hợp đồng lao động</option>
                                            <option value="HDTV">Hợp đồng thử việc</option>

                                        </select>
                                    </td>
                                    <td><input type="datetime" class="form-control" data-provide="datepicker" data-date-format="dd/mm/yyyy" /></td>
                                    <td><input type="datetime" class="form-control" data-provide="datepicker" data-date-format="dd/mm/yyyy" /></td>
                                    <td>
                                        <select class="form-control">
                                            <option>Lựa chọn</option>
                                            <option value="HN">Cơ sở đào tạo Hà Nội</option>
                                            <option value="VY">Cơ sở đào tạo Vĩnh Yên</option>
                                            <option value="TN">Cơ sở đào tạo Thái Nguyên</option>
                                        </select>
                                    </td>
                                    <td><input type="text" class="form-control" /></td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm" id="btn-remove"><span class="glyphicon glyphicon-minus"></span></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div>
            </div>
            <div class="col-md-12">
                <!-- Application buttons -->
                <div class="box-body" align="center">
                    <button type="submit" class="btn btn-app"><i class="fa fa-save"></i> Lưu</button>
                    <button type="reset" class="btn btn-app"><i class="fa fa-repeat"></i> Làm lại</button>
                </div><!-- /.box-body -->
            </div>
        </div>   <!-- /.row -->
    </section>
</form>
