﻿
@{
    ViewBag.Title = "KhenThuong";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}

@section header{
    <h1>Khen thưởng - Kỷ luật</h1>
    <label class="control-label" for="inputError">Các thông tin đánh dấu <font color="red">*</font> là các thông tin bắt buộc</label>
}

<form role="form" method="POST">
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Thông tin khen thưởng</h3>
                        <div class="pull-right box-tools">
                            <button class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered table-hover" id="tbl">
                            <tbody>
                                <tr>
                                    <th style="width: 10px">STT</th>
                                    <th>Cấp quyết định</th>
                                    <th>Hình thức khen thưởng</th>
                                    <th>Số quyết định</th>
                                    <th>Ngày quyết định</th>
                                    <th>Lý do</th>
                                    <th >
                                        <button type="button" class="btn btn-primary btn-sm" id="btn-add"><span class="glyphicon glyphicon-plus"></span></button>
                                    </th>
                                </tr>
                                <tr>
                                    <td><label>1</label></td>
                                    <td>
                                        <select class="form-control">
                                            <option>Lựa chọn</option>
                                            <option value="NNTW">Cấp Nhà nước/TW</option>
                                            <option value="B">Cấp Bộ</option>
                                            <option value="T">Cấp tỉnh</option>
                                            <option value="Tr">Cấp trường</option>
                                            <option value="DV">Cấp đơn vị</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control">
                                            <option value="">Lựa chọn</option>
                                        </select>
                                    </td>
                                    <td><input type="text" class="form-control" /></td>
                                    <td><input type="datetime" class="form-control" data-provide="datepicker" data-date-format="dd/mm/yyyy" /></td>
                                    <td><input type="text" class="form-control" /></td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm" id="btn-remove"><span class="glyphicon glyphicon-minus"></span></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div>
            </div>
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Thông tin kỷ luật</h3>
                        <div class="pull-right box-tools">
                            <button class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered table-hover">
                            <tbody>
                                <tr>
                                    <th style="width: 10px">STT</th>
                                    <th>Cấp quyết định</th>
                                    <th>Hình thức kỷ luật</th>
                                    <th>Số quyết định</th>
                                    <th>Ngày quyết định</th>
                                    <th>Lý do</th>
                                    <th >Thao tác</th>
                                </tr>
                                <tr>
                                    <td><label>1</label></td>
                                    <td>
                                        <select class="form-control">
                                            <option>Lựa chọn</option>
                                            <option value="NNTW">Cấp Nhà nước/TW</option>
                                            <option value="B">Cấp Bộ</option>
                                            <option value="T">Cấp tỉnh</option>
                                            <option value="Tr">Cấp trường</option>
                                            <option value="DV">Cấp đơn vị</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control">
                                            <option>Lựa chọn</option>
                                            <option value="KT">Khiển trách</option>
                                            <option value="CC">Cảnh cáo</option>
                                            <option value="HBL">Hạ bậc lương</option>
                                            <option value="HN">Hạ ngạch</option>
                                            <option value="CCh">Cách chức</option>
                                            <option value="BTV">Buộc thôi việc</option>
                                            <option value="KDNL">Kéo dài nâng lương 6 tháng</option>
                                        </select>
                                    </td>
                                    <td><input type="text" class="form-control" /></td>
                                    <td><input type="datetime" class="form-control" data-provide="datepicker" data-date-format="dd/mm/yyyy" /></td>
                                    <td><input type="text" class="form-control" /></td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span></button>
                                        <button type="button" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-minus"></span></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div>
            </div>
            <div class="col-md-12">
                <!-- Application buttons -->
                <div class="box-body" align="center">
                    <button type="submit" class="btn btn-app"><i class="fa fa-save"></i> Lưu</button>
                    <button type="reset" class="btn btn-app"><i class="fa fa-repeat"></i> Làm lại</button>
                </div><!-- /.box-body -->
            </div>
        </div>   <!-- /.row -->
    </section>
</form>

