﻿
@{
    ViewBag.Title = "LichSuLuong";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}

@section header{
    <h1>Lịch sử lương</h1>
    <label class="control-label" for="inputError">Các thông tin đánh dấu <font color="red">*</font> là các thông tin bắt buộc</label>
}

<form role="form" method="POST">
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Thông tin hồ sơ lương</h3>
                        <div class="pull-right box-tools">
                            <button class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered table-hover" id="tbl">
                            <tbody>
                                <tr>
                                    <th style="width: 10px">STT</th>
                                    <th>Từ ngày</th>
                                    <th>Đến ngày</th>
                                    <th>Loại ngạch</th>
                                    <th>Nhóm ngạch</th>
                                    <th>Bậc</th>
                                    <th>% vượt khung</th>
                                    <th>Hệ số lương</th>
                                    <th>Số quyết định</th>
                                    <th>Ngày xét tăng lương</th>
                                    <th >
                                        <button type="button" class="btn btn-primary btn-sm" id="btn-add"><span class="glyphicon glyphicon-plus"></span></button>
                                    </th>
                                </tr>
                                <tr>
                                    <td><label>1</label></td>
                                    <td><input type="datetime" class="form-control" data-provide="datepicker" data-date-format="dd/mm/yyyy" /></td>
                                    <td><input type="datetime" class="form-control" data-provide="datepicker" data-date-format="dd/mm/yyyy" /></td>
                                    <td><select class="form-control"></select></td>
                                    <td><select class="form-control"></select></td>
                                    <td><select class="form-control"></select></td>
                                    <td><input type="text" class="form-control" /></td>
                                    <td><input type="text" class="form-control" /></td>
                                    <td><input type="text" class="form-control" /></td>
                                    <td><input type="datetime" class="form-control" data-provide="datepicker" data-date-format="dd/mm/yyyy" /></td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm" id="btn-remove"><span class="glyphicon glyphicon-minus"></span></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Thông tin phụ cấp</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Tỉ lệ % phụ cấp nghề nghiệp hiện tại</td>
                                    <td><input type="text" class="form-control" /></td>
                                </tr>
                                <tr>
                                    <td>Hệ số phụ cấp trách nhiệm hiện tại</td>
                                    <td><input type="text" class="form-control" />
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> <!-- /.row -->
            <div class="col-md-12">
                <!-- Application buttons -->
                <div class="box-body" align="center">
                    <button type="submit" class="btn btn-app"><i class="fa fa-save"></i> Lưu</button>
                    <button type="reset" class="btn btn-app"><i class="fa fa-repeat"></i> Làm lại</button>
                </div><!-- /.box-body -->
            </div>
        </div>
    </section>
</form>