﻿
@{
    ViewBag.Title = "QuaTrinhDaoTao";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}

@section header{
    <h1>Quá trình đào tạo</h1>
    <label class="control-label" for="inputError">Các thông tin đánh dấu <font color="red">*</font> là các thông tin bắt buộc</label>
}

<form role="form" method="POST">
    <section class="content">
        <div class="row">
            <div class="col-md-4">
                <div class="box">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Trình độ phổ thông:<font color="red">*</font></td>
                                <td>
                                    <select class="form-control" required>
                                        <option value="1/10">1/10</option>
                                        <option value="2/10">2/10</option>
                                        <option value="3/10">3/10</option>
                                        <option value="4/10">4/10</option>
                                        <option value="5/10">5/10</option>
                                        <option value="6/10">6/10</option>
                                        <option value="7/10">7/10</option>
                                        <option value="8/10">8/10</option>
                                        <option value="9/10">9/10</option>
                                        <option value="10/10">10/10</option>
                                        <option value="1/12">1/12</option>
                                        <option value="2/12">2/12</option>
                                        <option value="3/12">3/12</option>
                                        <option value="4/12">4/12</option>
                                        <option value="5/12">5/12</option>
                                        <option value="6/12">6/12</option>
                                        <option value="7/12">7/12</option>
                                        <option value="8/12">8/12</option>
                                        <option value="9/12">9/12</option>
                                        <option value="10/12">10/12</option>
                                        <option value="11/12">11/12</option>
                                        <option value="12/12" selected="selected">12/12</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Quá trình đào tạo dài hạn</h3>
                        <div class="pull-right box-tools">
                            <button class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered table-hover" id="tbl">
                            <tbody>
                                <tr>
                                    <th style="width: 10px">STT</th>
                                    <th>Từ năm</th>
                                    <th>Đến năm</th>
                                    <th>Chuyên ngành</th>
                                    <th>Bậc học</th>
                                    <th>Học vị</th>
                                    <th>Xếp loại</th>
                                    <th>Trường đào tạo</th>
                                    <th>Nước đào tạo</th>
                                    <th >
                                        <button type="button" class="btn btn-primary btn-sm" id="btn-add"><span class="glyphicon glyphicon-plus"></span></button>
                                    </th>
                                </tr>
                                <tr>
                                    <td><label>1</label></td>
                                    <td><input type="number" class="form-control" /></td>
                                    <td><input type="number" class="form-control" /></td>
                                    <td><input type="text" class="form-control" /></td>
                                    <td>
                                        <select class="form-control">
                                            <option>Lựa chọn</option>
                                            <option value="ThS">Thạc sĩ</option>
                                            <option value="TS">Tiến sĩ</option>
                                            <option value="ĐH">Đại học</option>
                                            <option value="CĐ">Cao đẳng</option>
                                            <option value="THCN">Trung học chuyên nghiệp</option>
                                            <option value="Khác">Khác</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control">
                                            <option>Lựa chọn</option>
                                            <option value="ThS">Thạc sĩ</option>
                                            <option value="TS">Tiến sĩ</option>
                                            <option value="CN">Cử nhân</option>
                                            <option value="KS">Kỹ sư</option>
                                            <option value="CNCĐ">Cử nhân (cao đẳng)</option>
                                            <option value="THCN">Trung học chuyên nghiệp</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control">
                                            <option>Lựa chọn</option>
                                            <option value="XS">Xuất sắc</option>
                                            <option value="G">Giỏi</option>
                                            <option value="K">Khá</option>
                                            <option value="TBK">Trung bình khá</option>
                                            <option value="TB">Trung bình</option>
                                        </select>
                                    </td>
                                    <td><input type="text" class="form-control" /></td>
                                    <td><select class="form-control"></select></td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm" id="btn-remove"><span class="glyphicon glyphicon-minus"></span></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div>
            </div>
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Quá trình đào tạo ngắn hạn</h3>
                        <div class="pull-right box-tools">
                            <button class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered table-hover">
                            <tbody>
                                <tr>
                                    <th style="width: 10px">STT</th>
                                    <th>Từ tháng/năm</th>
                                    <th>Số tháng</th>
                                    <th>Chứng chỉ</th>
                                    <th>Nơi đào tạo</th>
                                    <th>Nước đào tạo</th>
                                    <th>Mô tả</th>
                                    <th >Thao tác</th>
                                </tr>
                                <tr>
                                    <td><label>1</label></td>
                                    <td><input type="datetime" class="form-control" /></td>
                                    <td><input type="number" class="form-control" /></td>
                                    <td><input type="text" class="form-control" /></td>
                                    <td><input type="text" class="form-control" /></td>
                                    <td><select class="form-control"></select></td>
                                    <td><input type="text" class="form-control" /></td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span></button>
                                        <button type="button" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-minus"></span></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div>
            </div>
            <div class="col-md-12">
                <!-- Application buttons -->
                <div class="box-body" align="center">
                    <button type="submit" class="btn btn-app"><i class="fa fa-save"></i> Lưu</button>
                    <button type="reset" class="btn btn-app"><i class="fa fa-repeat"></i> Làm lại</button>
                </div><!-- /.box-body -->
            </div>
        </div>   <!-- /.row -->
    </section>
</form>