﻿
@{
    ViewBag.Title = "QuaTrinhCongTac";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}

@section header{
    <h1>Quá trình công tác</h1>
    <label class="control-label" for="inputError">Các thông tin đánh dấu <font color="red">*</font> là các thông tin bắt buộc</label>
}

<form role="form" method="POST">
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Thông tin cán bộ</h3>
                        <div class="pull-right box-tools">
                            <button class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-striped table-hover">
                            <tbody>
                                <tr>
                                    <td>Đối tượng nhân sự<font color="red">*</font></td>
                                    <td>
                                        <select class="form-control" >
                                            <option>Lựa chọn</option>
                                            <option value="CBVC2003">Cán bộ/viên chức tuyển dụng trước 7/2003</option>
                                            <option value="CBHD">Cán bộ/viên chức (hợp đồng làm việc, đã qua tuyển dụng)</option>
                                            <option value="CBPV">Cán bộ phục vụ (theo NĐ68)</option>
                                            <option value="HDLD">Hợp đồng lao động (chưa qua qua tuyển dụng, có đóng BHXH)</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Công tác trong ngành</td>
                                    <td>
                                        <select class="form-control">
                                            <option>Lựa chọn</option>
                                            <option value="HC">Ngành hành chính</option>
                                            <option value="GD">Ngành giáo dục</option>
                                            <option value="TC">Ngành tài chính</option>
                                            <option value="XD">Ngành xây dựng</option>
                                            <option value="YT">Ngành y tế</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Loại cán bộ <font color="red">*</font></td>
                                    <td>
                                        <select class="form-control">
                                            <option>Lựa chọn</option>
                                            <option value="CBGD">Cán bộ giảng dạy (mã ngạch 15)</option>
                                            <option value="CBNC">Cán bộ nghiên cứu, kỹ sư (mã ngạch 13)</option>
                                            <option value="CVQLHC">Chuyên viên quản lý và hành chính (mã ngạch 01)</option>
                                            <option value="KTV">Kỹ thuật viên (mã ngạch 13.096)</option>
                                            <option value="CBGDHD">Cán bộ giảng dạy hợp đồng</option>
                                            <option value="CBPVGD">Cán bộ phục vụ giảng dạy</option>
                                            <option value="NVHCHD">Nhân viên hành chính hợp đồng</option>
                                            <option value="GVTH">Giáo viên trung học (mã ngạch 15.112 15.113)</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Là giảng viên bộ môn</td>
                                    <td><select class="form-control"></select></td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div>
            </div><!--/.col (left) -->

            <div class="col-md-6">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Thông tin biên chế</h3>
                        <div class="pull-right box-tools">
                            <button class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-striped table-hover">
                            <tbody>
                                <tr>
                                    <td>Ngày vào biên chế</td>
                                    <td><input type="datetime" class="form-control" data-provide="datepicker" data-date-format="dd/mm/yyyy" /></td>
                                </tr>
                                <tr>
                                    <td>Ngày vào ĐH CNGTVT</td>
                                    <td><input type="datetime" class="form-control" data-provide="datepicker" data-date-format="dd/mm/yyyy" /></td>
                                </tr>
                                <tr>
                                    <td>Năm vào ngành giáo dục</td>
                                    <td><input type="number" class="form-control"/></td>
                                </tr>
                                <tr>
                                    <td>Ngày vào đơn vị cấp 1</td>
                                    <td><input type="datetime" class="form-control" data-provide="datepicker" data-date-format="dd/mm/yyyy" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div>
            </div><!--/.col (left) -->
            <!-- center column -->
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Thông tin quá trình công tác</h3>
                        <div class="pull-right box-tools">
                            <button class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered table-hover" id="tbl">
                            <tbody>
                                <tr>
                                    <th style="width: 10px">STT</th>
                                    <th>Nơi công tác</th>
                                    <th>Từ ngày</th>
                                    <th>Đến ngày</th>
                                    <th>Chức vụ</th>
                                    <th>Công việc đảm nhiệm</th>
                                    <th >
                                        <button type="button" class="btn btn-primary btn-sm" id="btn-add"><span class="glyphicon glyphicon-plus"></span></button>
                                    </th>
                                </tr>
                                <tr>
                                    <td><label>1</label></td>
                                    <td><input type="text" class="form-control" /></td>
                                    <td><input type="datetime" class="form-control" /></td>
                                    <td><input type="datetime" class="form-control" /></td>
                                    <td>
                                        <select class="form-control">
                                            <option>Lựa chọn</option>
                                        </select>
                                    </td>
                                    <td><input type="text" class="form-control" /></td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm" id="btn-remove"><span class="glyphicon glyphicon-minus"></span></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div>
            </div><!--/.col (center) -->
            <!-- right column-->
            <div class="col-md-12">
                <!-- Application buttons -->
                <div class="box-body" align="center">
                    <button type="submit" class="btn btn-app"><i class="fa fa-save"></i> Lưu</button>
                    <button type="reset" class="btn btn-app"><i class="fa fa-repeat"></i> Làm lại</button>
                </div><!-- /.box-body -->
            </div>
        </div>   <!-- /.row -->
    </section>
</form>