﻿
@{
    ViewBag.Title = "TrinhDoNgoaiNgu";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}


@{
    ViewBag.Title = "TrinhDoKhac";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}

@section header{
    <h1>Trình độ tin học - ngoại ngữ - chính trị</h1>
    <label class="control-label" for="inputError">Các thông tin đánh dấu <font color="red">*</font> là các thông tin bắt buộc</label>
}

<form role="form" method="POST">
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Trình độ ngoại ngữ</h3>
                        <div class="pull-right box-tools">
                            <button class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered table-hover" id="tbl">
                            <tbody>
                                <tr>
                                    <th style="width: 10px">STT</th>
                                    <th>Tên ngoại ngữ <font color="red">*</font></th>
                                    <th>Nghe</th>
                                    <th>Nói</th>
                                    <th>Đọc</th>
                                    <th>Viết</th>
                                    <th >
                                        <button type="button" class="btn btn-primary btn-sm" id="btn-add"><span class="glyphicon glyphicon-plus"></span></button>
                                    </th>
                                </tr>
                                <tr>
                                    <td><label>1</label></td>
                                    <td>
                                        <select class="form-control" required>
                                            <option>Lựa chọn</option>
                                            <option value="Tiếng Anh">Tiếng Anh</option>
                                            <option value="Tiếng Pháp">Tiếng Pháp</option>
                                            <option value="Tiếng Đức">Tiếng Đức</option>
                                            <option value="Tiếng Nga">Tiếng Nga</option>
                                            <option value="Tiếng Trung">Tiếng Trung</option>
                                            <option value="Tiếng Nhật">Tiếng Nhật</option>
                                            <option value="Tiếng Hàn">Tiếng Hàn</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control">
                                            <option>Lựa chọn</option>
                                            <option value="Không biết">Không biết</option>
                                            <option value="Kém">Kém</option>
                                            <option value="Trung bình">Trung bình</option>
                                            <option value="Khá">Khá</option>
                                            <option value="Tốt">Tốt</option>
                                            <option value="Thành thạo">Thành thạo</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control">
                                            <option>Lựa chọn</option>
                                            <option value="Không biết">Không biết</option>
                                            <option value="Kém">Kém</option>
                                            <option value="Trung bình">Trung bình</option>
                                            <option value="Khá">Khá</option>
                                            <option value="Tốt">Tốt</option>
                                            <option value="Thành thạo">Thành thạo</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control">
                                            <option>Lựa chọn</option>
                                            <option value="Không biết">Không biết</option>
                                            <option value="Kém">Kém</option>
                                            <option value="Trung bình">Trung bình</option>
                                            <option value="Khá">Khá</option>
                                            <option value="Tốt">Tốt</option>
                                            <option value="Thành thạo">Thành thạo</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control">
                                            <option>Lựa chọn</option>
                                            <option value="Không biết">Không biết</option>
                                            <option value="Kém">Kém</option>
                                            <option value="Trung bình">Trung bình</option>
                                            <option value="Khá">Khá</option>
                                            <option value="Tốt">Tốt</option>
                                            <option value="Thành thạo">Thành thạo</option>
                                        </select>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm" id="btn-remove"><span class="glyphicon glyphicon-minus"></span></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div>
            </div>
            <div class="col-md-12">
                <!-- Application buttons -->
                <div class="box-body" align="center">
                    <button type="submit" class="btn btn-app"><i class="fa fa-save"></i> Lưu</button>
                    <button type="reset" class="btn btn-app"><i class="fa fa-repeat"></i> Làm lại</button>
                </div><!-- /.box-body -->
            </div>
        </div>   <!-- /.row -->
    </section>
</form>


