﻿
@{
    ViewBag.Title = "TrinhDoChinhTri";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}

@section header{
    <h1>Trình độ tin học - ngoại ngữ - chính trị</h1>
    <label class="control-label" for="inputError">Các thông tin đánh dấu <font color="red">*</font> là các thông tin bắt buộc</label>
}

<form role="form" method="POST">
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Trình độ chính trị</h3>
                        <div class="pull-right box-tools">
                            <button class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered table-hover" id="tbl">
                            <tbody>
                                <tr>
                                    <th style="width: 10px">STT</th>
                                    <th>Trình độ</th>
                                    <th>Năm công nhận</th>
                                    <th>Hiện tại</th>
                                    <th >Thao tác</th>
                                </tr>
                                <tr>
                                    <td><label>1</label></td>
                                    <td>
                                        <select class="form-control">
                                            <option>Lựa chọn</option>
                                            <option value="Sơ cấp">Sơ cấp</option>
                                            <option value="Trung cấp">Trung cấp</option>
                                            <option value="Cao cấp">Cao cấp</option>
                                            <option value="Cử nhân">Cử nhân</option>
                                        </select>
                                    </td>
                                    <td><input type="number" class="form-control" /></td>
                                    <td><input type="radio" value="1" checked/></td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm" id="btn-remove"><span class="glyphicon glyphicon-minus"></span></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div>
            </div>
            <div class="col-md-12">
                <!-- Application buttons -->
                <div class="box-body" align="center">
                    <button type="submit" class="btn btn-app"><i class="fa fa-save"></i> Lưu</button>
                    <button type="reset" class="btn btn-app"><i class="fa fa-repeat"></i> Làm lại</button>
                </div><!-- /.box-body -->
            </div>
        </div>   <!-- /.row -->
    </section>
</form>
