﻿
@{
    ViewBag.Title = "NghiViec";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}

<@section header{
    <h1>Xử lý cán bộ chuyển sang danh sách hưu trí</h1>
}

    <form role="form" method="POST">
        <section class="content">
            <div class="row">
                <div class="col-md-8">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Thông tin cán bộ chuyển sang danh sách nghỉ việc</h3>
                            <div class="pull-right box-tools">
                                <button class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-striped table-hover">
                                <tbody>
                                    <tr>
                                        <td>Chọn đơn vị</td>
                                        <td>
                                            <select class="form-control">
                                                <option>Lựa chọn</option>
                                                <option value="HN">Cơ sở đào tạo Hà Nội</option>
                                                <option value="VY">Cơ sở đào tạo Vĩnh Yên</option>
                                                <option value="TN">Cơ sở đào tạo Thái Nguyên</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Chọn phòng ban</td>
                                        <td><select class="form-control"></select></td>
                                    </tr>
                                    <tr>
                                        <td>Chọn cán bộ</td>
                                        <td><select class="form-control"></select></td>
                                    </tr>
                                    <tr>
                                        <td>Mã cán bộ</td>
                                        <td><input type="text" class="form-control" readonly="readonly"></td>
                                    </tr>
                                    <tr>
                                        <td>Họ tên</td>
                                        <td><input type="text" class="form-control" readonly="readonly"></td>
                                    </tr>
                                    <tr>
                                        <td>Ngày sinh</td>
                                        <td><input type="datetime" class="form-control" readonly="readonly"></td>
                                    </tr>
                                    <tr>
                                        <td>Số quyết định nghỉ việc<font color="red">*</font></td>
                                        <td><input type="text" class="form-control"></td>
                                    </tr>
                                    <tr>
                                        <td>Ngày quyết định<font color="red">*</font></td>
                                        <td><input type="text" class="form-control" data-provide="datepicker" data-date-format="dd/mm/yyyy"></td>
                                    </tr>
                                    <tr>
                                        <td>Tóm tắt nội dung quyết định</td>
                                        <td><textarea class="form-control"></textarea></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!-- /.box-body -->
                    </div>
                </div><!--/.col (left) -->
                <div class="col-md-8">
                    <!-- Application buttons -->
                    <div class="box-body" align="center">
                        <button type="submit" class="btn btn-app"><i class="fa fa-save"></i> Lưu</button>
                        <button type="reset" class="btn btn-app"><i class="fa fa-repeat"></i> Làm lại</button>
                    </div><!-- /.box-body -->
                </div>
            </div>
        </section>
    </form>
